# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

## File-based project format:
*.iws

## Plugin-specific files:

# Intellij project files
*.iml
*.ipr
*.iws
# .idea/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Maven
log/
target/

# Other
out/
src/main/java/tmp/
models/
tmpFiles/big/
libs/
VecSearchData/
Auth/
SearchSim/
*.log